@import './null.scss';
@import './vars.scss';
@import './common.scss';

body {
	background-color: #f0f3f5;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
}
.wrapper {
	padding: 4% 7%;
	width: 100%;
	overflow: auto;
}
@media (max-width: 1400px) {
	.wrapper {
		padding: 3% 6%;
		width: 100%;
	}
}
