@import './null.scss';
@import './vars.scss';
@import './common.scss';
@import './anim.scss';
@import './date.scss';

body {
  background-color: #f0f3f5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100vh;
}
main {
  padding: 4% 7%;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  position: relative;
}
.wrapper {
  flex: 1;
}
.scroll-style {
  overflow: auto;

  &::-webkit-scrollbar {
    height: 12px;
    background-color: var(--white);
    padding: 1px;
    border: 1px solid #dbe2e5;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #dbe2e5;
  }
}

input {
  &::placeholder {
    transition: 0.6s;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}
