.product-item {
  border-top: 1px solid var(--gray);
  padding: 10px 20px 10px 36px;
  align-items: center;

  &__img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue-light);

    img {
      height: 60px;
      width: 100%;
      object-fit: contain;
    }
  }

  &__info {
    max-width: 60%;
    width: 100%;
    gap: 20px;
  }

  &__delete {
    margin-left: auto;
    color: var(--blue-light);
  }

  &:first-child {
    border: 0;
  }

  p {
    text-wrap: nowrap;
  }

  &__ser-num {
    text-transform: uppercase;
  }
}
.more-info {
  column-gap: 60px;

  .product-item__info {
    max-width: fit-content;
  }
}
