.product-item {
  border-top: 1px solid var(--gray);
  padding: 10px 20px 10px 36px;
  align-items: center;

  &__img {
    max-width: 120px;
    max-height: 50px;
  }

  &__info {
    max-width: 60%;
    width: 100%;
    gap: 20px;
  }

  &__delete {
    margin-left: auto;
    color: var(--blue-light);
  }

  &:first-child {
    border: 0;
  }

  p {
    text-wrap: nowrap;
  }

  &__ser-num {
    text-transform: uppercase;
  }
}
.more-info {
  column-gap: 60px;

  .product-item__info {
    max-width: fit-content;
  }
}
