.header {
	padding: 15px 0;
	box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	padding-left: 11%;
	padding-right: 7%;

	&__inner {
		align-items: center;
	}

	&__content {
		align-items: center;
	}

	.logo {
		margin-right: 120px;
	}

	&__left {
		svg {
			color: var(--primary);
			margin-left: 24px;
			margin-right: 4px;
			width: 14px;
			height: 14px;
		}
	}
}
.logo {
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--primary);
}
