.header {
	padding: 15px 0;
	box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	padding-left: 11%;
	padding-right: 7%;
	position: relative;
	z-index: 2;

	&__inner {
		align-items: center;
	}

	&__content {
		align-items: center;
	}

	.logo {
		margin-right: 120px;
		font-size: 17px;
		font-weight: 500;
		text-transform: uppercase;
		color: var(--primary-dark);
	}
}

.time-status {
	.clock-icon {
		color: var(--primary);
		margin-left: 24px;
		margin-right: 4px;
		width: 14px;
		height: 14px;
	}
	.user-icon {
		width: 20px;
		margin-right: 2px;
		margin-left: auto;
	}
}
