.products-header {
  &__item {
    margin-left: 44px;
    column-gap: 15px;

    select {
      width: 280px;
    }
  }
}
.product-table {
  padding: 0;
  margin-top: 65px;
  padding-bottom: 40px;
  overflow: auto;

  .product-item {
    width: max-content;
    border: 1px solid var(--gray);
  }
}
