.products-header {
	&__item {
		margin-left: 44px;
		column-gap: 15px;

		select {
			width: 280px;
		}
	}
}
.product-table {
	padding: 0;
	margin-top: 65px;
	padding-bottom: 40px;
	overflow: auto;

	.product-item {
		width: max-content;
	}

	&::-webkit-scrollbar {
		height: 12px;
		background-color: var(--white);
		padding: 1px;
		border: 1px solid #dbe2e5;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #dbe2e5;
	}
}
