.order-content {
  margin-top: 65px;
}

.show-product {
  .order-content {
    display: grid;
    grid-template-columns: 3.2fr 6fr;
    gap: 20px;
  }
}

@media (max-width: 1400px) {
  .order-content {
    margin-top: 55px;
  }
}
