.order-content {
  margin-top: 65px;
}

.show-product {
  .order-content {
    display: grid;
    grid-template-columns: 3.2fr 6fr;
    gap: 20px;
  }

  .order-item {
    display: flex !important;
    justify-content: left;

    &__title,
    &__balance,
    &__remove {
      display: none;
    }
  }
}

@media (max-width: 1400px) {
  .order-content {
    margin-top: 55px;
  }
}
