.open-product {
  position: relative;
  height: fit-content;

  &__close {
    position: absolute;
    transform: translate(50%, -50%);
    right: 0;

    svg {
      width: 18px;
      color: var(--blue);
    }
  }

  &__header {
    padding: 27px 31px;
  }

  &__btn {
    gap: 15px;
    color: var(--primary);

    span {
      background-color: var(--primary);
      width: 26px;
      height: 26px;
      font-size: 21px;
      color: #fff;
      border-radius: 50%;
    }
  }
}
