.open-product {
  position: relative;
  height: fit-content;
  min-height: 320px;

  &__items {
    max-height: 45vh;
  }

  &__close {
    position: absolute;
    transform: translate(50%, -50%);
    right: 0;
    transition: 0.4s ease-in-out;
    color: var(--blue);

    svg {
      width: 18px;
      transition: 0.4s ease-in-out;
    }

    &:hover {
      color: #a70202;

      svg {
        width: 24px;
      }
    }
  }

  &__header {
    padding: 27px 31px;
    border-bottom: 1px solid var(--gray);
  }

  &__btn {
    gap: 15px;
    color: var(--primary);
    transition: 0.5s;

    span {
      background-color: var(--primary);
      width: 26px;
      height: 26px;
      font-size: 21px;
      color: #fff;
      border-radius: 50%;
      transition: 0.5s ease-in-out;
    }

    &:hover {
      color: var(--black);

      span {
        background-color: var(--primary-dark);
      }
    }
  }
}

.wrapper-info {
  width: 100%;
  max-width: 100%;
  min-height: 140px;
  background-color: #fff;
  padding: 20px;

  svg {
    display: block;
  }

  &.danger {
    color: rgb(172, 2, 2);

    h4 {
      &::before {
        content: '*';
      }
    }
  }
}
