.title {
	line-height: 1.2;
	color: var(--blue-dark);
	font-weight: bold;
	margin: 0;

	&.h1 {
		font-size: 31px;
	}
	&.h2 {
		font-size: 21px;
	}
	&.h3 {
		font-size: 18px;
		font-weight: 400;
	}
	&.h4 {
		font-size: 16px;
	}
	&.gray {
		color: var(--blue);
	}
	&.line {
		text-decoration: underline;
	}
}

@media (max-width: 1400px) {
	.title {
		&.h1 {
			font-size: 24px;
		}
		&.h2 {
			font-size: 18px;
		}
		&.h3 {
			font-size: 16px;
			font-weight: 400;
		}
	}
}
