.title {
	line-height: 1.2;
	color: var(--blue-dark);
	font-weight: bold;
	margin: 0;

	&.h1 {
		font-size: 31px;
	}
	&.h3 {
		font-size: 18px;
		font-weight: 400;
	}
	&.gray {
		color: var(--blue);
	}
	&.line {
		text-decoration: underline;
	}
}
