.text {
	line-height: 1.2;
	padding: 0;
	color: var(--blue-light);
	font-weight: 400;
	margin: 0;

	&.lg {
		font-size: 18px;
	}
	&.md {
		font-size: 16px;
	}
	&.sm {
		font-size: 12px;
	}
	&.dark {
		color: var(--black);
	}
	&.primary {
		color: var(--primary-light);
	}
}

@media (max-width: 1400px) {
	.text {
		&.lg {
			font-size: 14px;
		}
	}
}
