.search {
	background-color: #f0f3f5;
	padding: 8px 12px;
	border-radius: 4px;
	max-width: 420px;
	display: block;
	min-width: 100%;
	width: 100%;

	&::placeholder {
		color: #2c3c44;
		font-weight: bold;
		transition: 0.6s;
	}

	&:focus {
		&::placeholder {
			opacity: 0;
		}
	}
}
