.search {
  position: relative;
  width: 420px;
  display: block;

  input {
    background-color: var(--white);
    padding: 8px 12px;
    border-radius: 4px;
    width: 100%;

    &::placeholder {
      color: var(--black);
      font-weight: bold;
    }
  }

  button {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);

    svg {
      width: 18px;
      height: fit-content;
    }
  }
}
@media (max-width: 1400px) {
  .search {
    width: 320px;
  }
}
